.footer__ranjan{
    padding: 60px 68px 40px;
    background-color: rgba(0,0,0,.75);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    color: grey;
    text-align: center;
}

.click__link{
    color: white;
    text-decoration: solid;
}